body { padding-top: 70px; }

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}
.login p{
	font-size: 10 px;
	color: red
}
.register{	
	Width: 80%;

	margin-left: 20px;
	margin-right: auto;
}
.register input, .register select{
	margin: 0.2em 2em;	
}
.register input, .state {	
	border-radius: 8px;
	display: block;
	border-width: 2px;
	width: 20em;
	height: 2em;
}

#sex{
	display: inline;
	width: 2em;
	height: 1em;
	}
.input{
	margin-left:auto;
	margin-right:auto;
	border: 2px thin black;
	width: 50em;
	height: 50em;
	}
.login input{	
	background-color: #DFE2DB;
	border-radius: 8px;
	display: block;
	border-width: 2px;
	width: 20em;
	height: 2em;
	}
.logbtn{
	margin: 1.2em;
	margin-left: 0.2em;
	}
.login{	
	width: 50%;
	height: 50%;
	padding:5ex;
	margin: auto;
	background-color: #3ffce9; 
	
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}

.bld {
    font-weight: bold;
}

.auctiontitle .title-text:first-letter{
    text-transform: capitalize;
}
.auctiontitle{
    background-color: #5bc0de
}

.ridedest {
    width: 50%;float: left;margin: 0;padding: 0;box-sizing: border-box;
}
.ridedest img {
    vertical-align: top;
    margin-left: 1em;
    margin-top: 0.5em;
}

.ridedest .address {
    margin: 0.3em 1em;
}

.auctiontitle .text-primary{
    margin-right: 1em;
    color: #FFFFFF;
}

.panel-footer .ride-likes, .panel-footer .ride-comments {
    padding: 10px 15px;
}

.panel-footer .comment-row dt, .panel-footer .comment-row dd {
    float: left;
}
.panel-footer .comment-row dt, .ride-comments .row {
    clear: left
}
.panel-footer .comment-row dt {
    margin-right: 1em;
}
.ridedest .badge {
    margin-left: 1em;
}
.procontainer{
	margin: auto;
	width: 40em;
}
.procontainer h2{
	font-family: sans-serif;
}
.address1 div{	
	margin-bottom: 1em;
	background-color:#42f4ce;
	overflow: auto
	
}
.address1 input{
	
	border-radius: 4px;
	float:right;
	width:5em;	
}
#currentweather , #forcast{
    border: solid 0.1em #b3b3ff ;
    border-radius: 8em;
}
#currentweather {
    float: left;
}
#forcast{
    float: right;
}

#new-content-message {
     position: fixed;
     top: 50px;
     left: 40%;
     width: auto;
}

#inner-message {
     margin: 0 auto;
     padding: 10px;
}

.space_left {
    margin-left: 10px;
}


.righttoolbox .btn-lg {
    width: 90%;
    margin-top: 10px;
}

.panel-body .row , .panel-footer .row, .panel-footer > div {
    margin: 0 0 0;
}
