<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="database" value="MYSQL" />
            </bean>
        </property>
        <property name="packagesToScan" value="edu.mum.cs544.auctions" />
    </bean>

    <jpa:repositories base-package="edu.mum.cs544.auctions" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/auctions?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>



    <bean id="hibernateProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.id.new_generator_mappings">false</prop>
                <!-- !IMPORTANT Let spring be the session context class
                    <prop key="current_session_context_class">thread</prop>
                 -->
            </props>
        </property>
    </bean>



    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager" />

    <!--<jpa:repositories base-package="cs544.cov1.dao"/>-->
    <context:component-scan base-package="edu.mum.cs544"/>

    <bean id="productService" class="edu.mum.cs544.auctions.service.ProductService">
        <constructor-arg ref="productDAO"/>
        <constructor-arg ref="itemDAO"/>
    </bean>
    <bean id="auctionService" class="edu.mum.cs544.auctions.service.AuctionService">
        <constructor-arg ref="auctionDAO"/>
    </bean>


</beans>